@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
html,
body {
    padding: 0;
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    background-color: rgb(30, 30, 30) !important;
    font-family: "Sarabun", sans-serif !important;
}

a {
    color: rgb(156, 156, 156);
    text-decoration: none;
}

.bg {
    background-color: rgb(27, 27, 27) !important;
}

.white {
    font-weight: bold;
    color: rgb(189, 189, 189) !important;
}

.ant-list-item-meta-description {
    color: rgb(156, 156, 156) !important;
}

.ant-card-head-title {
    color: rgb(178, 178, 178) !important;
}

* {
    box-sizing: border-box;
}

.margin {
    margin-left: 5px;
}

.streamer {
    transition: all 0.8s ease;
    transform: scale(1)
}

.streamer:hover {
    transition: all 0.8s ease;
    transform: scale(0.8) perspective(1px);
    transition: 0.8s;
}